# Preprocessing Scraped Data

Web scraper is currently running on csa2. Data files represent data scraped every hour from the honolulu HPD [website](http://www4.honolulu.gov/hpdtraffic/MainPrograms/frmMain.asp?sSearch=All+Incidents&sSort=I_tTimeCreate)

In [3]:
import json
import pandas as pd
import os
import googlemaps
import json

In [4]:
file_names = []
for file in os.listdir('data/'):
    file_names.append(file)

data_master = []
for file in file_names:
    with open('data/' + file, 'r') as f:
        data = json.loads(f.readline())
        data_master = data_master + data
        
# print(json.dumps(data_master, indent=4))
df_master = pd.DataFrame(data_master)
df_master.to_csv('master_dataset.csv')
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202 entries, 0 to 2201
Data columns (total 6 columns):
address     2202 non-null object
area        2202 non-null object
date        2202 non-null object
location    2202 non-null object
time        2202 non-null object
type        2202 non-null object
dtypes: object(6)
memory usage: 103.3+ KB

In [14]:
df = pd.read_csv('master_dataset.csv')
df['date'] = df['date'].astype(str) + ' ' + df['time']
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date')
df = df.head()
df

,Unnamed: 0,address,area,date,location,time,type
2098,2098,174X MAHANI LOOP,KALIHI,2016-11-07 16:51:13,,4:51:13 PM,MOTOR VEHICLE COLLISION
2097,2097,KAWAIAHAO ST&SOUTH; ST,HONOLULU,2016-11-07 16:54:37,,4:54:37 PM,MOTOR VEHICLE COLLISION - TOWED
2096,2096,316X HARDING AVE,KAIMUKI,2016-11-07 16:56:45,,4:56:45 PM,MOTOR VEHICLE COLLISION
2095,2095,KILAUEA AVE&MALIA; ST,WAIALAE,2016-11-07 17:02:02,,5:02:02 PM,MOTOR VEHICLE COLLISION
2094,2094,H2N WAHIAWA OFF,MILILANI,2016-11-07 17:03:05,H2N WAHIAWA OFF,5:03:05 PM,TRAFFIC NUISANCE OR PARKING VIOLATION

In [12]:
api_key = 'AIzaSyCmr-ah82Xzb6uq2jOLlIFgek_CI7Mg4Uw'
gmaps = googlemaps.Client(key=api_key)
result = gmaps.geocode('H2N WAHIAWA OFF, MILILANI, HI')
print(json.dumps(result, indent=4))

[
    {
        "address_components": [
            {
                "short_name": "Mililani",
                "types": [
                    "locality",
                    "political"
                ],
                "long_name": "Mililani"
            },
            {
                "short_name": "Honolulu County",
                "types": [
                    "administrative_area_level_2",
                    "political"
                ],
                "long_name": "Honolulu County"
            },
            {
                "short_name": "HI",
                "types": [
                    "administrative_area_level_1",
                    "political"
                ],
                "long_name": "Hawaii"
            },
            {
                "short_name": "US",
                "types": [
                    "country",
                    "political"
                ],
                "long_name": "United States"
            },
            {
                "short_name": "96789",
                "types": [
                    "postal_code"
                ],
                "long_name": "96789"
            }
        ],
        "geometry": {
            "location": {
                "lng": -158.0152807,
                "lat": 21.4513314
            },
            "viewport": {
                "northeast": {
                    "lng": -157.9924,
                    "lat": 21.4658301
                },
                "southwest": {
                    "lng": -158.0301801,
                    "lat": 21.4262321
                }
            },
            "location_type": "APPROXIMATE",
            "bounds": {
                "northeast": {
                    "lng": -157.9924,
                    "lat": 21.4658301
                },
                "southwest": {
                    "lng": -158.0301801,
                    "lat": 21.4262321
                }
            }
        },
        "partial_match": true,
        "formatted_address": "Mililani, HI 96789, USA",
        "place_id": "ChIJ_cVNtwRnAHwRFaLS4aRQi7Y",
        "types": [
            "locality",
            "political"
        ]
    }
]

In [10]:
d = []
count = 0
for idx, row in df.iterrows():
    address = [row['address'], row['area'], 'HI']
    address = ', '.join(address)
    result = gmaps.geocode(address)
    print(address)
    try:
        loc = result[0]['geometry']['location']
        idx = df.index.values[0]
        point = {'index': idx, 'latitude':loc['lat'], 'longitude':loc['lng']}
        d.append(point)
        if count % 100 == 0:
            print('Iteration {}'.format(count))
            df_loc = pd.DataFrame(d)
            df_loc.to_pickle('location.pkl')
        count += 1 
    except: 
        print('Error: ' + str(address))
        continue

174X MAHANI LOOP, KALIHI, HI
KAWAIAHAO ST&SOUTH; ST, HONOLULU, HI
316X HARDING AVE, KAIMUKI, HI
KILAUEA AVE&MALIA; ST, WAIALAE, HI
H2N WAHIAWA OFF, MILILANI, HI

In [7]:
pd.read_pickle('location.pkl')

      index   latitude   longitude
0      2098  21.351084 -157.856438
1      2098  21.351084 -157.856438
2      2098  21.351084 -157.856438
3      2098  21.351084 -157.856438
4      2098  21.351084 -157.856438
5      2098  21.351084 -157.856438
6      2098  21.351084 -157.856438
7      2098  21.351084 -157.856438
8      2098  21.351084 -157.856438
9      2098  21.351084 -157.856438
10     2098  21.351084 -157.856438
11     2098  21.351084 -157.856438
12     2098  21.351084 -157.856438
13     2098  21.351084 -157.856438
14     2098  21.351084 -157.856438
15     2098  21.351084 -157.856438
16     2098  21.351084 -157.856438
17     2098  21.351084 -157.856438
18     2098  21.351084 -157.856438
19     2098  21.351084 -157.856438
20     2098  21.351084 -157.856438
21     2098  21.351084 -157.856438
22     2098  21.351084 -157.856438
23     2098  21.351084 -157.856438
24     2098  21.351084 -157.856438
25     2098  21.351084 -157.856438
26     2098  21.351084 -157.856438
27     2098  21.351084 -157.856438
28     2098  21.351084 -157.856438
29     2098  21.351084 -157.856438
...     ...        ...         ...
2171   2098  21.351084 -157.856438
2172   2098  21.351084 -157.856438
2173   2098  21.351084 -157.856438
2174   2098  21.351084 -157.856438
2175   2098  21.351084 -157.856438
2176   2098  21.351084 -157.856438
2177   2098  21.351084 -157.856438
2178   2098  21.351084 -157.856438
2179   2098  21.351084 -157.856438
2180   2098  21.351084 -157.856438
2181   2098  21.351084 -157.856438
2182   2098  21.351084 -157.856438
2183   2098  21.351084 -157.856438
2184   2098  21.351084 -157.856438
2185   2098  21.351084 -157.856438
2186   2098  21.351084 -157.856438
2187   2098  21.351084 -157.856438
2188   2098  21.351084 -157.856438
2189   2098  21.351084 -157.856438
2190   2098  21.351084 -157.856438
2191   2098  21.351084 -157.856438
2192   2098  21.351084 -157.856438
2193   2098  21.351084 -157.856438
2194   2098  21.351084 -157.856438
2195   2098  21.351084 -157.856438
2196   2098  21.351084 -157.856438
2197   2098  21.351084 -157.856438
2198   2098  21.351084 -157.856438
2199   2098  21.351084 -157.856438
2200   2098  21.351084 -157.856438

[2201 rows x 3 columns]