# Preprocessing Scraped Data

Web scraper is currently running on csa2. Data files represent data scraped every hour from the honolulu HPD [website](http://www4.honolulu.gov/hpdtraffic/MainPrograms/frmMain.asp?sSearch=All+Incidents&sSort=I_tTimeCreate)

In [18]:
import json
import pandas as pd
import os
import googlemaps
import json
import sys

In [23]:
file_names = []
for file in os.listdir('data/'):
    file_names.append(file)

data_master = []
for file in file_names:
    with open('data/' + file, 'r') as f:
        data = json.loads(f.readline())
        data_master = data_master + data
        
# print(json.dumps(data_master, indent=4))
df_master = pd.DataFrame(data_master)
#df_master.to_csv('master_dataset.csv')  #could not read or write csv
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202 entries, 0 to 2201
Data columns (total 6 columns):
address     2202 non-null object
area        2202 non-null object
date        2202 non-null object
location    2202 non-null object
time        2202 non-null object
type        2202 non-null object
dtypes: object(6)
memory usage: 103.3+ KB

In [24]:
#df = pd.read_csv('master_dataset.csv')
df = df_master  #I added this because I can't read or write the csv
df['date'] = df['date'].astype(str) + ' ' + df['time']
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date')
df = df.head()
df

,address,area,date,location,time,type
191,174X MAHANI LOOP,KALIHI,2016-11-07 16:51:13,,4:51:13 PM,MOTOR VEHICLE COLLISION
190,KAWAIAHAO ST&SOUTH; ST,HONOLULU,2016-11-07 16:54:37,,4:54:37 PM,MOTOR VEHICLE COLLISION - TOWED
189,316X HARDING AVE,KAIMUKI,2016-11-07 16:56:45,,4:56:45 PM,MOTOR VEHICLE COLLISION
188,KILAUEA AVE&MALIA; ST,WAIALAE,2016-11-07 17:02:02,,5:02:02 PM,MOTOR VEHICLE COLLISION
187,H2N WAHIAWA OFF,MILILANI,2016-11-07 17:03:05,H2N WAHIAWA OFF,5:03:05 PM,TRAFFIC NUISANCE OR PARKING VIOLATION

In [43]:
api_key = 'AIzaSyCmr-ah82Xzb6uq2jOLlIFgek_CI7Mg4Uw'
gmaps = googlemaps.Client(key=api_key)
result = gmaps.geocode('H2N WAHIAWA OFF, MILILANI, HI')
#print(json.dumps(result, indent=4))
result = gmaps.geocode('INTERSTATE H-2, WAHIAWA, HI')  #This actually gives back the right location
print(json.dumps(result, indent=4))
result = gmaps.geocode('KAWAIAHAO ST SOUTH  ST, HONOLULU, HI')
print(json.dumps(result, indent=4))

[
    {
        "address_components": [
            {
                "short_name": "I-H-2",
                "types": [
                    "route"
                ],
                "long_name": "Interstate H-2"
            },
            {
                "short_name": "Wahiawa",
                "types": [
                    "locality",
                    "political"
                ],
                "long_name": "Wahiawa"
            },
            {
                "short_name": "Honolulu County",
                "types": [
                    "administrative_area_level_2",
                    "political"
                ],
                "long_name": "Honolulu County"
            },
            {
                "short_name": "HI",
                "types": [
                    "administrative_area_level_1",
                    "political"
                ],
                "long_name": "Hawaii"
            },
            {
                "short_name": "US",
                "types": [
                    "country",
                    "political"
                ],
                "long_name": "United States"
            },
            {
                "short_name": "96786",
                "types": [
                    "postal_code"
                ],
                "long_name": "96786"
            }
        ],
        "geometry": {
            "bounds": {
                "northeast": {
                    "lat": 21.4906119,
                    "lng": -158.0258066
                },
                "southwest": {
                    "lat": 21.4873361,
                    "lng": -158.0318715
                }
            },
            "location_type": "GEOMETRIC_CENTER",
            "location": {
                "lat": 21.4899017,
                "lng": -158.0283554
            },
            "viewport": {
                "northeast": {
                    "lat": 21.4906119,
                    "lng": -158.0258066
                },
                "southwest": {
                    "lat": 21.4873361,
                    "lng": -158.0318715
                }
            }
        },
        "formatted_address": "I-H-2, Wahiawa, HI 96786, USA",
        "place_id": "ChIJu1b5swNnAHwRKmo9ACZNvQc",
        "types": [
            "route"
        ]
    }
]
[
    {
        "geometry": {
            "bounds": {
                "northeast": {
                    "lat": 21.3044827,
                    "lng": -157.851201
                },
                "southwest": {
                    "lat": 21.2949797,
                    "lng": -157.8574002
                }
            },
            "location_type": "GEOMETRIC_CENTER",
            "location": {
                "lat": 21.299379,
                "lng": -157.8549013
            },
            "viewport": {
                "northeast": {
                    "lat": 21.3044827,
                    "lng": -157.851201
                },
                "southwest": {
                    "lat": 21.2949797,
                    "lng": -157.8574002
                }
            }
        },
        "place_id": "ChIJvyLtLeJtAHwRD3cV_zRKVb4",
        "types": [
            "route"
        ],
        "address_components": [
            {
                "short_name": "Kawaiahao St",
                "types": [
                    "route"
                ],
                "long_name": "Kawaiahao Street"
            },
            {
                "short_name": "Honolulu",
                "types": [
                    "locality",
                    "political"
                ],
                "long_name": "Honolulu"
            },
            {
                "short_name": "Honolulu County",
                "types": [
                    "administrative_area_level_2",
                    "political"
                ],
                "long_name": "Honolulu County"
            },
            {
                "short_name": "HI",
                "types": [
                    "administrative_area_level_1",
                    "political"
                ],
                "long_name": "Hawaii"
            },
            {
                "short_name": "US",
                "types": [
                    "country",
                    "political"
                ],
                "long_name": "United States"
            }
        ],
        "formatted_address": "Kawaiahao St, Honolulu, HI, USA",
        "partial_match": true
    }
]

In [58]:
d = []
count = 0
for idx, row in df.iterrows():
    change = row['address'].split(' ')
    if change[0][-1] == 'X':
        change[0] = change[0][:-1] + '0'
    if change[1].find('&') != -1:
        toDelete = change[1].find('&')
        change[1] = change[1][:toDelete] + ' & ' + change[1][toDelete+1:]
    if change[1].find(';') != -1:
        toDelete = change[1].find(';')
        change[1] = change[1][:toDelete] + '' + change[1][toDelete+1:]
        
    if change[1][0] == 'H' and len(change[0]) == 3:
        change[1] = 'INTERSTATE H-' + change[1][1]
        del change[0]
        #print(change)
    
    add = ' '.join(change)
    
    print(add)
    
    address = [add, row['area'], 'HI'] #add=row['address']
    
    address = ', '.join(address)
    result = gmaps.geocode(address)
    
    print(address)
    try:
        loc = result[0]['geometry']['location']
        idx = df.index.values[0]
        point = {'index': idx, 'latitude':loc['lat'], 'longitude':loc['lng']}
        d.append(point)
        if count % 100 == 0:
            print('Iteration {}'.format(count))
            df_loc = pd.DataFrame(d)
            df_loc.to_pickle('location.pkl')
        count += 1 
    except: 
        print('Error: ' + str(address))
        continue

1740 MAHANI LOOP
1740 MAHANI LOOP, KALIHI, HI
Iteration 0
KAWAIAHAO ST & SOUTH ST
KAWAIAHAO ST & SOUTH ST, HONOLULU, HI
3160 HARDING AVE
3160 HARDING AVE, KAIMUKI, HI
KILAUEA AVE & MALIA ST
KILAUEA AVE & MALIA ST, WAIALAE, HI
['INTERSTATE H-2', 'WAHIAWA']
INTERSTATE H-2 WAHIAWA
INTERSTATE H-2 WAHIAWA, MILILANI, HI

In [7]:
pd.read_pickle('location.pkl')

      index   latitude   longitude
0      2098  21.351084 -157.856438
1      2098  21.351084 -157.856438
2      2098  21.351084 -157.856438
3      2098  21.351084 -157.856438
4      2098  21.351084 -157.856438
5      2098  21.351084 -157.856438
6      2098  21.351084 -157.856438
7      2098  21.351084 -157.856438
8      2098  21.351084 -157.856438
9      2098  21.351084 -157.856438
10     2098  21.351084 -157.856438
11     2098  21.351084 -157.856438
12     2098  21.351084 -157.856438
13     2098  21.351084 -157.856438
14     2098  21.351084 -157.856438
15     2098  21.351084 -157.856438
16     2098  21.351084 -157.856438
17     2098  21.351084 -157.856438
18     2098  21.351084 -157.856438
19     2098  21.351084 -157.856438
20     2098  21.351084 -157.856438
21     2098  21.351084 -157.856438
22     2098  21.351084 -157.856438
23     2098  21.351084 -157.856438
24     2098  21.351084 -157.856438
25     2098  21.351084 -157.856438
26     2098  21.351084 -157.856438
27     2098  21.351084 -157.856438
28     2098  21.351084 -157.856438
29     2098  21.351084 -157.856438
...     ...        ...         ...
2171   2098  21.351084 -157.856438
2172   2098  21.351084 -157.856438
2173   2098  21.351084 -157.856438
2174   2098  21.351084 -157.856438
2175   2098  21.351084 -157.856438
2176   2098  21.351084 -157.856438
2177   2098  21.351084 -157.856438
2178   2098  21.351084 -157.856438
2179   2098  21.351084 -157.856438
2180   2098  21.351084 -157.856438
2181   2098  21.351084 -157.856438
2182   2098  21.351084 -157.856438
2183   2098  21.351084 -157.856438
2184   2098  21.351084 -157.856438
2185   2098  21.351084 -157.856438
2186   2098  21.351084 -157.856438
2187   2098  21.351084 -157.856438
2188   2098  21.351084 -157.856438
2189   2098  21.351084 -157.856438
2190   2098  21.351084 -157.856438
2191   2098  21.351084 -157.856438
2192   2098  21.351084 -157.856438
2193   2098  21.351084 -157.856438
2194   2098  21.351084 -157.856438
2195   2098  21.351084 -157.856438
2196   2098  21.351084 -157.856438
2197   2098  21.351084 -157.856438
2198   2098  21.351084 -157.856438
2199   2098  21.351084 -157.856438
2200   2098  21.351084 -157.856438

[2201 rows x 3 columns]